.navbar {
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 5;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .logo {
	display: flex;
	align-items: center;
	margin: 1rem;
	color: #f6f6f6;
	z-index: 5;
}

.hamburger {
	display: none;
	padding: 1rem;
	z-index: 5;
	color: #fff;
}

.mobile-menu {
	display: none;
}

.nav-menu {
	display: flex;
}

.nav-menu li {
	padding: 1rem;
}

.nav-menu li a {
	color: #f6f6f6;
	font-size: 1rem;
}

@media screen and (max-width: 940px) {
	.hamburger {
		display: block;
	}

	.mobile-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.nav-menu {
		position: absolute;
		width: 60%;
		height: 100vh;
		background-color: var(--primary-color);
		top: 0;
		right: -100%;
		flex-direction: column;
		justify-content: center;
		transition: 0.9s ease-in-out;
	}

	.active {
		right: 0;
	}

	.nav-menu li {
		margin: 0.5rem;
	}

	.nav-menu li a {
		font-size: 1.2rem;
	}

	.nav-menu li:hover {
		border-bottom: 1px solid #aaa;
		width: 175px;
	}

	.nav-menu button {
		margin: 1rem auto;
		padding: 0.7rem 0.5rem;
		font-size: 1.2rem;
		border-radius: 25px;
		border: none;
		background: rgba(255, 255, 255, 0.3);
		width: 100%;
		color: #f6f6f6;
	}

	.nav-menu button:hover {
		background: rgba(255, 255, 255, 0.1);
	}

	.nav-menu .social-icons {
		display: flex;
		justify-content: space-evenly;
		margin: 1rem;
	}

	.nav-menu .icon {
		color: #f8f8f8cc;
		font-size: 1.4rem;
	}

	.hide {
		display: none;
	}
}

@media screen and (max-width: 495px) {
	.nav-menu {
		width: 75%;
	}
}
