.handling {
	width: 100%;
	height: 100vh;
	background: url('../../assets/car1.jpg') no-repeat center center/cover;
}

.handling .container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.handling .top {
	margin-top: 7rem;
	color: #f7f7f7;
}

.handling .bottom {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 600px;
	margin-bottom: 4rem;
}

@media screen and (max-width: 540px) {
	.handling .container .bottom {
		flex-direction: column;
		align-items: center;
	}
}
